body {
    background-image: url('https://i.postimg.cc/XqkSJgjV/image.jpg');
    Background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;


}


form.sc-cZwWEu.koplLZ {
    background-color: #000d45d5;
}
  
  code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
     monospace;
 }

.backHome {
   color: #000d45d5;
}

span.sc-jIZahH.isawGt {
   color: #ffb900;
}

h3.sc-iBkjds.irdeiv {
   color: #ffb900;
}

h3.sc-hNKHps.bKNENo {
   color: #ffb900;
}



.sc-caXVBt.bqcgND {
   background-color: #000d45d5;
}
 
button.sc-kLLXSd.jKcyqg {
   background-color: #000d45d5;
}

.sc-iqGgem.iayTwh {
   background-color: #000d45d5;
}

span.sc-iBkjds.cLuHbo {
   color: #ffb900;
}


.sc-eXBvqI.hgZXAm {
   background-color: #000d45d5;
   color: #ffb900;
}

label.sc-hiMGwR.jTfqSw {
   color: #ffb900;
}

.sc-caXVBt.fxYRiq {
   background-color: #000d45d5;
   color: #ffb900;
}



.sc-dkzDqf.dsAjpm {
   background-color: #000d45d5;
   color: #ffb900;
}

img {
   width: 60px;
   height: 100%;
}

.extraTitle {
   color: #ffb900;
}

.sc-caXVBt.bqcgND {
   color: #ffb900;
}

p {
   color: #ffb900;
}
button#form-submit {
   background-color: #ffb900;
   color: #000d45d5;
}
@media screen and (max-width: 500px) {
   
  
  button.sc-kLLXSd.jKcyqg {
    margin-left: 600px;
    
}
  h3.sc-hNKHps.bKNENo {
    color: #ffb900;
  padding-left: 500px;
      width: 300px;
      
 
}
.sc-eKszNL.gzhsgh {
    padding-left: 500px;
  color: #000d45d5;
}
  button#form-submit {
    margin-left: 500px;
    color: #000d45d5;
}
  form.sc-cZwWEu.koplLZ {
    
  border: 1px solid rgb(6 158 252 / 0%);
}
  .sc-hjriPb.gwJhzy {
    width: 500px;
}
  form.sc-cZwWEu.koplLZ {
    background-color: transparent;
}
.sc-hjriPb.gwJhzy {
    width: 650px;
}
  .sc-iqGgem.iayTwh {
    width: 200%;
    padding-left: 65px;
    padding-right: 65px;
    height: 120%;
}
    span.sc-iBkjds.cLuHbo {
    padding-right: 40px;
}
    .form-item {
    width: 670px;
}
    label.sc-hiMGwR.jTfqSw {
    color: #000d45d5;
    }
    .sc-gzzPqb.bIfIUk {
    margin-left: 430px;
}
    
  .sc-dmRaPn.bkREsr {
    padding-left: 300px;
    padding-right: 300px;
    left: 0;
    background-color: transparent;
}
    .sc-bZkfAO.fRUWfV {
    margin-left: 500px;
}
    
    
    

    
    

   
}
